@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("ttf")
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/roboto/Roboto-Light.ttf") format("ttf")
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("ttf") 
}

@font-face {
  font-family: "Alegreya-Regular";
  src: url("../fonts/alegreya/Alegreya-Regular.otf") format("otf")
}