$color-red: #e64c3c;
$color-blue: #2c3e50;
$color-grey: #313131;
$color-white: #f0f4f4;
$font-family-bold: "Roboto-Bold", Helvetica, sans-serif;
$font-family-light: "Roboto-Light", Helvetica, sans-serif;
$font-family-regular: "Roboto-Regular", Helvetica, sans-serif;
$font-family-aregular: "Alegreya-Regular", Helvetica, sans-serif;
$padding-title: 10px;